@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.cdnfonts.com/css/graphik');

// general settings
* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #202020;
    background-color: #ffffff
}

ul {
    margin: 0;
    padding: 0;
}

//Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #ca2100;
;
$nav-bg: #3e3744;
$breakpoint: "900px";
$hover-color: #eeeeee;
$icon-color: white;
$sidebar-color: #f9f9f9;

/* Mixins
  ============================================ */
@mixin va($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align ==right {
        justify-content: right;
    }

    @if $va-align ==left {
        justify-content: left;
    }

    @if $va-align ==center {
        justify-content: center;
    }
}

@mixin btn($width) {
    min-width: $width;
    color: #fff;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

/*Header
================================ */
header {
    border-bottom: solid 1px #ca2100;
    background-color: $nav-bg;
    transition: height 200ns ease-in;
    box-shadow: 0 1px 2px rgbe(0, 0, 0, 0.15);
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;

    nav {
        align-items: center;
        margin: 0 10px 0 10px;
        height: 44px;
        color: $icon-color;

        &.settings {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    @include va;
                    list-style-type: none;

                    &.settings__button {
                        cursor: pointer;
                        width: 30px;
                        height: 30px;

                        &:hover {
                            border-radius: 3px;
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }

                    .settings__search-bar {
                        display: flex;
                        align-items: center;

                        svg {
                            margin: 10px;
                        }

                        input {
                            border: none;
                            background-color: transparent;
                            outline: none;

                            &::placeholder {
                                color: white
                            }
                        }

                        max-width: 200px;
                        border-radius: 5px;
                        height: 35px;
                        background-color: #e27065;

                        &:hover {
                            background-color: white;
                            color: black;

                            input::placeholder {
                                color: black
                            }
                        }

                        &::placeholder {
                            color: white
                        }

                        margin: 0 10px 0 10px;
                    }

                    .settings_hero {
                        @include va;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        background-color: brown;
                    }
                }
            }
        }
    }
}

/* Sidebar
  ============================================ */
.sidebar_wrapper {
    // @include mq($breakpoint) {
    //     position: absolute;
    //     left: 0;
    //     top: 100;
    //     width: 100%;
    //     height: 100%;
    //     background-color: transparent;
    //     transition: 800ms;
    // }
}

.sidebar.show {
    left: 0;
    transition: 350ms;
}

.sidebar {
    padding-left: 15px;
    padding-right: 15px;
    width: 290px;
    height: calc(100vh);
    padding-top: 60px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: $generic-border;
    background-color: $sidebar-color;
    left: -100%;
    transition: 800ms;

    li {
        @include va('left');
        padding-left: 10px;
        border-radius: 6px;
        list-style-type: none;
        color: black;
        cursor: pointer;
        line-height: 2.00;
        font-size: 18px;

        &.active,
        &:hover {
            font-weight: bold;
            background-color: $hover-color;
        }
    }

    &__dot {
        margin-right: 5px;
    }

    &__middle {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: flex;
        border-bottom: $generic-border;
        align-items: center;
        cursor: pointer;

        >span {
            width: 100%;
            @include va('right');
            gap: 15px;
            color: #cacaca;
            margin-right: 10px;

            svg {
                // display: none;
                font-size: 15px;

                &:hover {
                    color: #555;
                }
            }

            svg.labels-hide {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }

        h2 {
            margin: 0;
            color: rgba(0, 0, 0, 0.56);
            font-size: 15px;
            font-weight: bold;
        }
    }

    &__generic {
        li {
            span:first-of-type {
                margin-right: 10px;
                display: flex;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;
                    color: #555;
                }
            }
        }
    }
}

/* Sidebar
  ============================================ */
.content {
    width: 100%;
    height: 100vh;

    // background-color: blue;
    // border: 1px solid black;
    &__cards-wrapper {
        padding: 100px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
    }
}

/* Urlcard
  ============================================ */
.card {
    height: 250px;
    // border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;

    a {
        text-decoration: none;
        color: black;
    }

    &__image {
        img {
            width: 100%;
            height: 150px;
        }
    }

    &__title {
        font-size: 30px;
        margin-top: 15px;
        font-family: "Graphik";
        font-weight: 500;
    }

    &__website {
        a {
            font-size: 15px;
            color: gray;
        }

        margin-top: 10px;
    }
}

/*Header
================================ */
.modal__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.modal {
    background-color: white;
    width: 400px;
    height: 250px;
    margin-top: 100px;

    &__content {

        // padding: 10px;
        // min-width: 400px;
        // min-height: 180px;
        // display: flex;
        // flex-direction: column;
        // border-radius: 10px;
        // background-color: white;
        // color: black;
        &-button {
            gap: 10px;
            @include va('right');

            button:nth-child(1) {
                @include btn(70px);
                color: #555;

                &:hover {
                    background-color: gray;
                    color: white
                }
            }

            button:nth-child(2) {
                @include btn(70px);
                background-color: $nav-bg;

                &:hover {
                    background-color: #b03d32;
                }
            }
        }
    }
}